<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyApplication">

        <!-- Splash Screen Activity -->
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="QuickTimer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Timer Activity -->
        <activity
            android:name=".TimerActivity"
            android:exported="true"/>

        <!-- MainActivity (if you still have one) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"/>

    </application>

</manifest>
